{% extends 'base.html.twig' %}

{% block title %} nos offre {% endblock %}

{% block body %}

    <h1>Nos offre :</h1>
        {% for offre in offres %}
    <div class="card" style="width: 18rem;">
        <p class="card-text">l'image: {{ offre.imageOffre }} sa desription : {{ offre.imageDescription }}</p>
        <div class="card-body">
            <h5 class="card-title">{{ offre.nomOffre }}</h5>
            <p class="card-text">{{ offre.descriptionOffre }}</p>
            <p class="card-text">{{ offre.PrixOffre}} euros</p>
        </div>
        {% if is_granted("ROLE_REDAC") %}
        <a href="{{ path('GérerOffre', {'id' : offre.id }) }}" class="btn-lg btn-primary">acceder a l'offre</a>
        <!-- href = path('nom route', {'id' : offre.id} -->
        {% endif %}
    </div>
        {% endfor %}

{% endblock %}